* {
  box-sizing: border-box;;
}

input {
 width: 80%;
 height: 50px;
 font-size: 25px;
 padding: 5px 15px;

}

body{
  background-color: #bbbbbb;
}

label {
  font-size: 25px;
}

p{
  padding-left: 50px;
  font-size: 30px;
  clear: both;
  margin-top: -15px;

}


#container {
  margin: 50px auto;
  width: 60%;
}

#add {
  height: 50px;
  font-size: 25px;
}

#taskBox{
  margin: 10px;
}


.task {
  padding: 5px;
  border: 1px solid grey;
  font-weight: bold;
  background-color: #f2e863;

}

.checkbox{

  border: 2px solid black;
  height: 50%;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  background-color: white;
  float: right;
}

.checkbox:hover{
  background-color: #444444;
}

.delete {

  background-color: black;
  color: white;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}

.Yes {
  background-color: green;
}

.No{
  background-color: white;
}
