* {
  box-sizing: border-box;;
}

input {
 width: 80%;
 height: 50px;
 font-size: 25px;
 padding: 5px 15px;

}

body{
  background-color: #bbbbbb;
}

label {
  font-size: 25px;
}


#container {
  margin: 50px auto;
  width: 60%;
}

#add {
  height: 50px;
  font-size: 25px;
}

#taskBox{
  margin: 10px;
}


.task {
  border: 1px solid grey;
  font-weight: bold;
  padding: 10px;
  background-color: #f2e863;
}

.checkbox{
  border-right: 1px solid grey;
  height: 50%;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: white;
  float: right;
}

.checkbox:hover{
  background-color: #444444;
}
