* {
  box-sizing: border-box;;
}

input {
 width: 80%;
 height: 50px;
 font-size: 25px;
 padding: 5px 15px;

}

body{
  background-color: #bbbbbb;
}

label {
  font-size: 25px;
}

#container {
  margin: 50px auto;
  width: 60%;
}

#add {
  height: 50px;
  font-size: 25px;
}

#taskBox{
  
  background-color: white;
}
